{
  "presets": [
    [
      "@babel/preset-env",
      {
         "corejs": "3.6.5",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": ["add-module-exports", "@babel/plugin-transform-runtime"]
}
